div ul li{
    display: inline;
    margin-top: 50px;
}
div ul li span{
    margin-left: 140px;
    margin-top: 50px;
    width: 350px;


}
div ul li{
    margin-left: 100px;
    margin-top: 50px;
    

}


/* prix catigori.....pour prix page */
