body{
    color: aliceblue;
    background-color: black;
}
tr{
    height: 30%;
}
td{
    border: rgb(8, 6, 5) 2px solid;
    width: 20%;
   
    font-family:  monospace;
    font-size: 20px;
   
}
table{
    width: 45%;
    color: #000;
    position: relative;
    padding-top: 30%;
    margin-left: 27%;
    margin-right: 23%;
 
    
    
}

.fp{
    background-image: url('../img/fe.png');
  
    background-position: center;
    background-repeat: no-repeat;
    
    height: 100%;
    position: fixed;
    overflow:visible;
   
}
.inf{
    color: rgb(4, 4, 5);
    font-size: 22px;
    border: none;
    position: absolute;
    width: 100%;
    bottom: 32%;
    font-family:'Courier New' Courier;
}

.hm{
    width: 50px;
}
